{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block entity_form %} 


    {{ form_start(form) }}
        {{ form_row(form.name) }}
        
        <div class="form-group field-collection permission-table" style="width:50%;margin-left:20%">
            <table class="table">
                <thead>
                    <tr>
                        <th>Entity</th>
                        <th class="text-center">Show</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                        <th class="text-center">New</th>
                        <th class="text-center">Import</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% set continue = false %}
                    {% for key,entity in form.entities.vars.prototype.children.entities.vars.choices %}
                        {# {{ dd(form.entities.vars.prototype.children.roles.children)}} #}
                        {% set _roles = form.entities.vars.prototype.children.roles.children %}
                        {% set break = false %}
                        {% set nextItem = false %}
                        {% set parentKey = key %}
                        {% for entityGroup in form.entities %}
                            {% if entity.value == entityGroup.entities.vars.data.id  %}
                                {% set _roles = entityGroup.roles %}
                                    <tr>
                                        <th>{{  entityGroup.entities.vars.data.label }}
                                            {{ form_row(entityGroup.entities, { 'attr' : {'style' : 'display:none;'}, 'label': false }) }}
                                        </th>
                                        {% for role in entityGroup.roles %}
                                            <td class="text-center">{{ form_widget(role, {'label':false}) }}</td>
                                        {% endfor %}
                                    </tr>
                                {% set break = true %}
                                {% set nextItem = true %}
                            {% endif %}
                         {% endfor %}
                        
                         {% if nextItem == false  %}
                             <tr>
                                <input type="hidden" id="group_entities_{{ key }}_name" name="group[entities][{{ key }}][name]" readonly="readonly">
                                <input type="hidden" value="{{ entity.value }}" id="group_entities_{{ key }}_entities" name="group[entities][{{ key }}][entities]" readonly="readonly">
                                <th scope="row">{{ entity.label }}</th>
                                {% for key,role in _roles %}
                                    <td  class="text-center"><input type="checkbox" id="group_entities_{{ parentKey }}_roles_{{ key }}" name="group[entities][{{ parentKey }}][roles][]" class="form-check-input" value="{{ role.vars.value }}"></td>
                                {% endfor %}
                            </tr>
                         {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
  
    {{ form_end(form) }}

    <style>
        .form-control-label { 
            font-weight: bolder !important;
        }
    </style>
{% endblock entity_form %}

{% block body_javascript %}
    {{ parent() }}
    <script src="/bundles/easyadmin/select2/i18n/en.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.field-collection-action,.field-collection').hide();
            $('.permission-table').show();

       
            if (getUrlParameter('overrideAction') === '"show"') {
                var panelHearTitle = $('.content-header-title .title').text();
                $('.content-header-title .title').text(panelHearTitle.replace("Edit", ""));
                $('input[type="checkbox"],#group_name').attr('disabled', true);
                $('#edit-group-form').find('.action-delete,.action-save').hide();
            } else {
                if ($('#group_name').val() == 'ROLE_SUPER_ADMIN') {
                    $('#edit-group-form').find('.action-delete,.action-save').hide();
                }
            }
            

            function getUrlParameter(name) {
                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                var results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            };
        })
    </script>
{% endblock %}


