{% extends '@EasyAdmin/default/new.html.twig' %}

{% block entity_form %}
    {{ form_start(form) }}
        
        {{ form_row(form.name) }}
        <div class="form-group field-collection permission-table" style="width:50%;margin-left:20%">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Entity</th>
                        <th class="text-center">Show</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                        <th class="text-center">New</th>
                        <th class="text-center">Import</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,entity in form.entities.vars.prototype.children.entities.vars.choices %}
                        {% set parentKey = key %}
                        <tr>
                      
                            <input type="hidden" id="group_entities_{{ key }}_name" name="group[entities][{{ key }}][name]" readonly="readonly">
                            <input type="hidden" value="{{ entity.value }}" id="group_entities_{{ key }}_entities" name="group[entities][{{ key }}][entities]" readonly="readonly">
                            <th scope="row">{{ entity.data.label }}</th>
                            {% for key,role in form.entities.vars.prototype.children.roles.children %}
                                <td  class="text-center"><input type="checkbox" id="group_entities_{{ parentKey }}_roles_{{ key }}" name="group[entities][{{ parentKey }}][roles][]" class="form-check-input" value="{{ role.vars.value }}"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
    {{ form_end(form) }}
{% endblock entity_form %}


{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('.field-collection-action,.field-collection').hide();
            $('.permission-table').show();
        })
    </script>
{% endblock %}


