{% extends '@EasyAdmin/default/layout.html.twig' %}


{% block content_header %}
    <h5>Form Builder</h5>
{% endblock %}

{% block main %}
    <div class="container">

      

        <div id="alert_placeholder" style="margin-top:10px;"></div>

        
        <div class="row">
            <div class="col-md-6">
                <div id="formNameEdit" class="form-group">
                    <label class="form-label"><strong>Name</strong></label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="formName" value="{% if formEntity.name is defined and formEntity.name is not empty %}{{ formEntity.name }}{% endif %}" placeholder="Form Name">
                    </div>
                </div>
                <div id="formNameImageEdit" class="form-group">
                    <label class="form-label"><strong>Logo</strong></label>
                    <div class="input-group">
                        <input type="file" class="form-control" name="formBuilderImage" accept="image/*" onchange="readImagePreview(event)"  placeholder="Form Builder Image">
                    </div>
                    <div class="input-group">
                        {% set noImage = asset('uploads/no-image.jpg') %}
                        {% set formImage = noImage %}
                        {% if formEntity.formImage is defined %}
                            {% set formImage = asset('uploads/formbuilder/' ~ formEntity.formImage) %}
                        {% endif %}
                      
                        <img id="formImagePreview" src="{{ formImage }}" alt="Form image" onerror="this.src='{{ noImage }}'"  style="max-height:250px;"  />
                    </div>
                </div>
                
            </div>
            <div class="col-md-6" style="padding:35px;">
                <button class="btn btn-primary" id="saveFormBuilderBtn" title="Save">Save</button>
            </div>
        </div>

        <div id="stage1" style="margin-top:20px" class="build-wrap"></div>
    </div>
{% endblock %}

{% block body_javascript %}
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> #}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> #}
    <script src="{{ asset('js/formbuilder/jquery.min.js') }}"></script>
    <script src="{{ asset('js/formbuilder/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/formbuilder/form-builder.min.js') }}"></script>
    <script src="{{ asset('js/formbuilder/form-render.min.js') }}"></script>
    <script src="{{ asset('js/formbuilder/main.js') }}"></script>
   
    <script>
        var urlSaveForm = "{{ path('form_builder_save') }}",
            urlDeleteForm = "{{ path('form_builder_delete') }}";
        var id = null,
            formDataEntity = null,
            urlShowForm = null,
            orderAvailableFields = {{ getAvailableBuilderFields()|json_encode()|raw }},
            disabledFields = {{ getDisabledFields()|raw }};

        {% if formEntity is defined %}
            id = {{ formEntity.id }};
            {# formDataEntity = '{{ formEntity.json|filterJson()|json_encode()|raw }}'; #}
            formDataEntity = '{{ formEntity.json|json_encode()|raw }}';
            urlShowForm = "{{ path('get_form', {'id': formEntity.id}) }}";
        {% endif %}

        $(document).ready(function () {
            formBuilder(id, formDataEntity, urlShowForm, orderAvailableFields, disabledFields);
        });

        function readImagePreview(input) {

            var filePath = input.target.value; 

            // Allowing file type 
            var allowedExtensions =  
                    /(\.jpg|\.jpeg|\.png)$/i; 
              
            if (!allowedExtensions.exec(filePath)) { 
                alert('Uploaded file is not a valid image. Only JPG, PNG and JPEG files are allowed.'); 
                input.target.value = ''; 
                return false; 
            } 
            
            if (input.target.files && input.target.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                    $('#formImagePreview').attr('src', e.target.result);
                    $('#formImagePreview').attr('style', 'display:block;max-height:250px;');
                }
                reader.readAsDataURL(input.target.files[0]); // convert to base64 string
            }
        }
    </script>
{% endblock %}
