{% extends '@EasyAdmin/default/layout.html.twig' %}


{% block content_header %}
    <h5>Form Builder</h5>
{% endblock %}

{% block main %}
    <div class="container">
        {% if valueEntity is defined %}
            <div class="modal" id="deleteModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Entry</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to delete this {{ formEntity.name }} Entry ?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('delete_value', {'id': valueEntity.id}) }}" class="btn btn-danger">Delete</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <h1 class="clearfix">
            {{ formEntity.name }}
            {% if valueEntity is defined %}
                <button type="button" class="btn btn-danger float-right" title="Delete Entry" data-toggle="modal" data-target="#deleteModal">
                    <i class="fas fa-trash-alt"></i>
                </button>
            {% endif %}
        </h1>

        {{ form_start(form) }}
            {% for key, element in form.children %}
                {{ form_row(attribute(form, key)) }}
                {% if element.vars.type is defined and element.vars.type == 'file' and element.vars.data is not null %}
                    <a href="{{ asset('uploads/' ~ element.vars.data.filename )}}" target="_blank">Datei anzeigen</a>
                {% endif %}
            {% endfor %}
        {#{{ form_widget(form) }}#}
        {{ form_end(form) }}
    </div>
{% endblock %}

