{% extends 'easyadmin-bundle/src/Resources/views/default/layout.html.twig' %}


{% block content_header %}
    <h5>Institution Profile</h5>
{% endblock %}

{% import _self as formMacros %}
{% macro collegeSchoolsForm(collegeSchoolForm) %}
    <div class="form-group-field inline-form-group-field mb-2">
        <button type="button" class="btn btn-sm btn-warning remove-college-school btn-icon mr-2 {{ collegeSchoolForm.collegeSchoolName.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
        <input type="text" class="form-control" 
                id="{{ collegeSchoolForm.collegeSchoolName.vars.id }}" 
                name="{{ collegeSchoolForm.collegeSchoolName.vars.full_name }}" 
                value="{{ collegeSchoolForm.collegeSchoolName.vars.value }}" 
                maxlength="{{ collegeSchoolForm.collegeSchoolName.vars.attr.maxlength }}" 
                placeholder="College and Schools">
    </div>
{% endmacro %}

{% macro accreditationForm(accrediationForm) %}
    <div class="form-group-field inline-form-group-field mb-2">
        <button type="button" class="btn btn-sm btn-warning remove-accrediation btn-icon mr-1 {{ accrediationForm.accrediation.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
        <input type="text" class="form-control" 
                id="{{ accrediationForm.accrediation.vars.id }}" 
                name="{{ accrediationForm.accrediation.vars.full_name }}" 
                value="{{ accrediationForm.accrediation.vars.value }}" 
                maxlength="{{ accrediationForm.accrediation.vars.attr.maxlength }}" 
                placeholder="College and Schools">
    </div>
{% endmacro %}

{% macro recognitionsForm(recognitionForm) %}
    <div class="form-group-field inline-form-group-field mb-2">
        <button type="button" class="btn btn-sm btn-warning remove-recognition btn-icon mr-2 {{ recognitionForm.recognition.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
        <input type="text" class="form-control" 
                id="{{ recognitionForm.recognition.vars.id }}" 
                name="{{ recognitionForm.recognition.vars.full_name }}" 
                value="{{ recognitionForm.recognition.vars.value }}" 
                maxlength="{{ recognitionForm.recognition.vars.attr.maxlength }}" 
                placeholder="Recognitations">
    </div>
{% endmacro %}

{% macro degreesForm(degreeForm) %}
    <div class="form-group-field inline-form-group-field mb-2">
        <button type="button" class="btn btn-sm btn-warning remove-degree btn-icon mr-2 {{ degreeForm.degreeName.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
        <input type="text" class="form-control" 
                id="{{ degreeForm.degreeName.vars.id }}" 
                name="{{ degreeForm.degreeName.vars.full_name }}" 
                value="{{ degreeForm.degreeName.vars.value }}" 
                maxlength="{{ degreeForm.degreeName.vars.attr.maxlength }}" 
                placeholder="Degree Name">
    </div>
{% endmacro %}

{% macro socialMediaForm(socialMediaForm) %}
     <!--<div class="row my-2">
        <div class="col-md-6">
            <div class="form-group-field mb-2">
                <label for="socialmedia">Social Media</label>
                <input type="text" class="form-control" 
                    id="{{ socialMediaForm.socialMedia.vars.id }}" 
                    name="{{ socialMediaForm.socialMedia.vars.full_name }}" 
                    value="{{ socialMediaForm.socialMedia.vars.value }}" 
                    maxlength="{{ socialMediaForm.socialMedia.vars.attr.maxlength }}" 
                    placeholder="Social Media">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group-field inline-form-group-field mb-2">
                <button type="button" class="btn btn-sm btn-warning remove-social-media btn-icon ml-2 mt-3 {{ socialMediaForm.socialMedia.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
                <div class="w-100">
                    <label for="socialmediaUrl">Url</label>
                    <input type="text" class="form-control" 
                        id="{{ socialMediaForm.url.vars.id }}" 
                        name="{{ socialMediaForm.url.vars.full_name }}" 
                        value="{{ socialMediaForm.url.vars.value }}"  
                        placeholder="Social Media URL">
                </div>
            </div>
        </div>
    </div>-->
    <div class="form-group-field inline-form-group-field mb-2">
        <button type="button" class="btn btn-sm btn-warning remove-social-media btn-icon mr-2 mt-3 {{ socialMediaForm.socialMedia.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
        <div class="w-100">
            <label for="socialmediaUrl">Url</label>
            <input type="text" class="form-control" 
                id="{{ socialMediaForm.url.vars.id }}" 
                name="{{ socialMediaForm.url.vars.full_name }}" 
                value="{{ socialMediaForm.url.vars.value }}"  
                placeholder="Social Media URL">
        </div>
    </div>
{% endmacro %}

{% block main %}
    <style>
        .form-group label, .form-group legend.col-form-label {
            align-self: self-start !important;
            color: var(--text-color) !important;
            flex: 0 0 0 !important;
            font-size: var(--font-size-base) !important;
            font-weight: 400 !important;
            margin: 5px 5px 0 0 !important;
            text-align: right !important;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #profileImagePreview{
            width: 100%;
        }

        /* Updated Css */
        body {
            background: #f0f0f0;
        }
        .content-header {
            padding: 0 17px;
            border: 0;
        }
        .content-header h5 {
            color: #6c757d;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
        }
        .content {
            background-color: transparent;
            box-shadow: none;
            border: 0;
            border-radius: 0;
        }
        .content-body .form-horizontal, .content-body form {
            background-color: transparent;
            padding: 0;
        }
        .imageHolder {
            position: relative;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            overflow: hidden;
        }
        .imageHolder input {
            opacity: 0;
            z-index: 1;
        }
        .imageHolder:before {
            content: '';
            background: rgba(0,0,0,.35);
        }
        .imageHolder:before,
        .imageHolder:after,
        .imageHolder input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .imageHolder:after {
            content: 'Change Photo';
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(255 255 255 / 0.75);
        }
        .whiteCard {
            background: #fff !important;
            padding: 10px 18px 20px;   
            border-radius: 8px;
            box-shadow: 1px 1px 2px 0px rgba(194,194,194,1);
        }
        .heading {
            color: black;
            font-size: 18px;
            font-weight: bold;
            line-height: 25px;
            margin-bottom: 25px;
            margin-top: 7px;
            position: relative;
        }
        .grayBorderCard h3 {
            margin: 0 0 15px;
        }
        .form-group-field label {
            color: #000000;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 4px;
            display: block;
            white-space: nowrap;
        }
        .form-group-field .form-control {
            background: #ececec !important;
            border: 1px solid #d4d4d4;
            padding: 6px;
            color: #505050;
            display: block;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            width: 100%;
            border-radius: 0;
        }   
        .inline-form-group-field {
            display: flex;
            align-items: center;
        }
        .btn-icon {
            padding: 0;
            background: transparent!important;
            box-shadow: none;
            line-height: 0;
        }
        .btn-icon i {
            padding: 0;
            color: #ff993f;
            font-size: 20px;
            line-height: 1.5;
        }
        .grayBorderCard {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid grey;
            height: 100%;
        }
        .btn.btn-blue {
            color: white;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 12px;
            max-width: 100px;
            padding: 12px 14px;
            width: 100%;
            border-radius: 7px;
            background: #299eff;
        }
        .wrapper {
            width: 100%;
            margin-bottom: -20px;
        }
        .content-wrapper {
            grid-template-columns: none;
        }
        .main-header {
            padding: 0 20px 0 235px;
        }
        .main-sidebar {
            margin-top: -90px;
            background: #011374;
            background: -moz-linear-gradient(top, #011374 1%, #014fb2 28%, #008aef 52%, #0099ff 78%, #0099ff 100%);
            background: -webkit-linear-gradient(top, #011374 1%,#014fb2 28%,#008aef 52%,#0099ff 78%,#0099ff 100%);
            background: linear-gradient(to bottom, #011374 1%,#014fb2 28%,#008aef 52%,#0099ff 78%,#0099ff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011374', endColorstr='#0099ff',GradientType=0 );
            position: sticky;
            height: 100vh;
            max-width: 235px;
            display: flex;
            flex-flow: column;
        }
        .sidebar-menu .header {
            align-self: flex-start;
            margin: 15px auto 15px;
            text-align: center;
            padding: 0;
            font-size: 26px;
            text-transform: none;
            color: #f0f0f0;
            display: none;
        }
        .sidebar-menu a {
            display: block;
            position: relative;
            margin: 0;
            border: 0;
            border-left: 4px solid transparent;
            padding: 17px 22px 17px 15px;
            position: relative;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            color: #fff;
        }
        .sidebar-menu a:hover {
            background: #0092f7;
            border-left: 4px solid #f09444;
        }
        .sidebar-menu a.active,
        .sidebar-menu li.active a {
            background: #0b1972;
            border-left: 4px solid #f09444;
            color: #fff!important;
            filter: opacity(1);
        }
        .sidebar-menu li.active a .fa {
            color: #fff!important;
            filter: opacity(1);
        }
        .sidebar-menu .fa {
            font-size: 20px;
            color: #fff;
            filter: opacity(1);
            margin-right: 10px;
        }
        body:not(.easyadmin-content-width-full) .wrapper {
            max-width: 100%;
        }
        .content {
            grid-area: auto;
        }
        .container {
            max-width: 100%;
        }

        
    </style>
    <div class="container">
        <form name="institution_profile" method="post" enctype="multipart/form-data">
            {{ form_row(form._token) }}

            <div class="whiteCard">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading"><i class="fas fa-school"></i> Institution Overview</h3>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group-field mb-2">
                            <textarea class="form-control" id="{{ form.overview.vars.id }}" name="{{ form.overview.vars.full_name }}" rows="5">{{ form.overview.vars.value }}</textarea>
                        </div>
                            
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="founded">Founded</label>
                                    <input type="text" class="form-control" id="{{ form.founded.vars.id }}" name="{{ form.founded.vars.full_name }}" value="{{ form.founded.vars.value }}" placeholder="Founded">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="academic-calendar">Academic Calendar</label>
                                    <input type="text" class="form-control" id="{{ form.academicCalendar.vars.id }}" name="{{ form.academicCalendar.vars.full_name }}" value="{{ form.academicCalendar.vars.value }}" placeholder="Academic Calendar">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="founded">Ins Type</label>
                                    <input type="text" class="form-control" id="{{ form.insType.vars.id }}" name="{{ form.insType.vars.full_name }}" value="{{ form.insType.vars.value }}" placeholder="Type">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="primary-language">Language</label>
                                    <input type="text" class="form-control" id="{{ form.language.vars.id }}" name="{{ form.language.vars.full_name }}" value="{{ form.language.vars.value }}" placeholder="Primary Language">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="other-language">Other Language</label>
                                    <input type="text" class="form-control" id="{{ form.otherLanguages.vars.id }}" name="{{ form.otherLanguages.vars.full_name }}" value="{{ form.otherLanguages.vars.value }}" placeholder="Other Language">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="president">President</label>
                                    <input type="text" class="form-control" id="{{ form.president.vars.id }}" name="{{ form.president.vars.full_name }}" value="{{ form.president.vars.value }}" placeholder="President">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="total-employees">Total Employees</label>
                                    <input type="text" class="form-control" id="{{ form.totalEmployees.vars.id }}" name="{{ form.totalEmployees.vars.full_name }}" value="{{ form.totalEmployees.vars.value }}" placeholder="otal Employees">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="alumini">Alumini </label>
                                    <input type="text" class="form-control" id="{{ form.alumini.vars.id }}" name="{{ form.alumini.vars.full_name }}" value="{{ form.alumini.vars.value }}" placeholder="Alumini">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% set noImage = asset('uploads/no-image.jpg') %}
                        {% set insProfileImage = noImage %}
                        {% if form.insProfileImage is defined and form.insProfileImage.vars.data %}
                            {% set insProfileImage = asset('/' ~ form.insProfileImage.vars.data) %}
                        {% endif %}
                        <div class="imageHolder">
                            <img id='profileImagePreview' src="{{ insProfileImage }}" onerror="this.src='{{ noImage }}'" class="rounded-circle border" alt="Institution Profile Image" style="height:250px !important;">
                            <input type="file" id="{{ form.insProfileImage.vars.id }}" name="{{ form.insProfileImage.vars.full_name }}" accept="image/*" onchange="readImagePreview(event)" >
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading"><i class="fas fa-share-alt"></i> Social Media</h3>
                    </div>

                    <div class="col-md-12">
                        <div class="" id="{{ form.socialMedias.vars.id }}" 
                                    data-prototype="{{ formMacros.socialMediaForm(form.socialMedias.vars.prototype)|e('html_attr') }}"
                                    data-index="{{ form.socialMedias|length }}" >
                           
                            
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <div class="form-group-field inline-form-group-field mb-2">
                                            <button type="button" class="btn btn-sm btn-warning  btn-icon mr-2 mt-3 "><i class="fas fa-minus-circle"></i></button>
                                            <div class="w-100">
                                                <label for="socialmediaUrl">Facebook</label>
                                                <input type="text" class="form-control" value="http://facebook.com/AHEAU"
                                                    placeholder="Facebook">
                                            </div>
                                        </div>
                                        <div class="form-group-field inline-form-group-field mb-2">
                                            <button type="button" class="btn btn-sm btn-warning  btn-icon mr-2 mt-3 "><i class="fas fa-minus-circle"></i></button>
                                            <div class="w-100">
                                                <label for="socialmediaUrl">Twitter</label>
                                                <input type="text" class="form-control"   value="http://twitter.com/AHEAUniversity"
                                                   
                                                    placeholder="Twitter">
                                            </div>
                                        </div>
                                        <div class="form-group-field inline-form-group-field mb-2">
                                            <button type="button" class="btn btn-sm btn-warning  btn-icon mr-2 mt-3 "><i class="fas fa-minus-circle"></i></button>
                                            <div class="w-100">
                                                <label for="socialmediaUrl">Instagram</label>
                                                <input type="text" class="form-control" value="http://instagram.com/AHEAUniversity"
                                                    placeholder="Instagram">
                                            </div>
                                        </div>
                                    </div>
                                
                                  
                                    <div class="col-md-4">
                                        <div class="form-group-field inline-form-group-field mb-2">
                                            <button type="button" class="btn btn-sm btn-warning  btn-icon mr-2 mt-3 "><i class="fas fa-minus-circle"></i></button>
                                            <div class="w-100">
                                                <label for="socialmediaUrl">LinkedIn</label>
                                                <input type="text" class="form-control" value="http://linkedin.com/AHEAU"
                                                    placeholder="LinkedIn">
                                            </div>
                                        </div>
                                        <div class="form-group-field inline-form-group-field mb-2">
                                            <button type="button" class="btn btn-sm btn-warning  btn-icon mr-2 mt-3 "><i class="fas fa-minus-circle"></i></button>
                                            <div class="w-100">
                                                <label for="socialmediaUrl">YouTube</label>
                                                <input type="text" class="form-control" value="http://youtube.com/channel/AHEAUniversity"
                                                    placeholder="YouTube">
                                            </div>
                                        </div>
                                        <div class="text-left mt-4">
                                            <button type="button" class="btn btn-sm btn-warning btn-icon"><i class="fas fa-plus-circle"></i></button>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>

            
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="whiteCard">
                        <h3 class="heading"><i class="fas fa-comment-dots"></i> Contact Info</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group-field mb-2">
                                    <label for="office-number">Office Number</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionContact.vars.form.officeNumber.vars.id }}" 
                                        name="{{ form.institutionContact.vars.form.officeNumber.vars.full_name }}" 
                                        value="{{ form.institutionContact.vars.form.officeNumber.vars.value }}" 
                                        maxlength="{{ form.institutionContact.vars.form.officeNumber.vars.attr.maxlength }}"
                                        placeholder="Office Number">
                                </div>
                                <div class="form-group-field mb-2">
                                        <label for="fax-number">Fax</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionContact.vars.form.faxNumber.vars.id }}" 
                                            name="{{ form.institutionContact.vars.form.faxNumber.vars.full_name }}" 
                                            value="{{ form.institutionContact.vars.form.faxNumber.vars.value }}" 
                                            maxlength="{{ form.institutionContact.vars.form.faxNumber.vars.attr.maxlength }}"
                                            placeholder="Fax Number">
                                    </div>
                                    <div class="form-group-field mb-2">
                                        <label for="website">Website</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionContact.vars.form.website.vars.id }}" 
                                            name="{{ form.institutionContact.vars.form.website.vars.full_name }}" 
                                            value="{{ form.institutionContact.vars.form.website.vars.value }}" 
                                            maxlength="{{ form.institutionContact.vars.form.website.vars.attr.maxlength }}"
                                            placeholder="Website">
                                    </div>
                                    <div class="form-group-field mb-2">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionContact.vars.form.email.vars.id }}" 
                                            name="{{ form.institutionContact.vars.form.email.vars.full_name }}" 
                                            value="{{ form.institutionContact.vars.form.email.vars.value }}" 
                                            maxlength="{{ form.institutionContact.vars.form.email.vars.attr.maxlength }}"
                                            placeholder="Email">
                                    </div>
                                    <div class="form-group-field mb-2">
                                        <label for="new">New</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionContact.vars.form.new.vars.id }}" 
                                            name="{{ form.institutionContact.vars.form.new.vars.full_name }}" 
                                            value="{{ form.institutionContact.vars.form.new.vars.value }}" 
                                            maxlength="{{ form.institutionContact.vars.form.new.vars.attr.maxlength }}"
                                            placeholder="New">
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group-field mb-2">
                                    <label for="Mailing Name">Mailing Name</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionContact.vars.form.mailingName.vars.id }}" 
                                        name="{{ form.institutionContact.vars.form.mailingName.vars.full_name }}" 
                                        value="{{ form.institutionContact.vars.form.mailingName.vars.value }}" 
                                        maxlength="{{ form.institutionContact.vars.form.mailingName.vars.attr.maxlength }}"
                                        placeholder="Mailing Name">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="Department">Department</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionContact.vars.form.department.vars.id }}" 
                                        name="{{ form.institutionContact.vars.form.department.vars.full_name }}" 
                                        value="{{ form.institutionContact.vars.form.department.vars.value }}" 
                                        maxlength="{{ form.institutionContact.vars.form.department.vars.attr.maxlength }}"
                                        placeholder="Department">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="address1">Address1</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionContact.vars.form.address1.vars.id }}" 
                                        name="{{ form.institutionContact.vars.form.address1.vars.full_name }}" 
                                        value="{{ form.institutionContact.vars.form.address1.vars.value }}" 
                                        maxlength="{{ form.institutionContact.vars.form.address1.vars.attr.maxlength }}" 
                                        placeholder="Address1">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="address2">Address2</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionContact.vars.form.address2.vars.id }}" 
                                        name="{{ form.institutionContact.vars.form.address2.vars.full_name }}" 
                                        value="{{ form.institutionContact.vars.form.address2.vars.value }}" 
                                        maxlength="{{ form.institutionContact.vars.form.address2.vars.attr.maxlength }}" 
                                        placeholder="Address2">
                                </div>
                                <div class="form-group-field d-flex">
                                    <div class="mr-2">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionContact.vars.form.city.vars.id }}" 
                                            name="{{ form.institutionContact.vars.form.city.vars.full_name }}" 
                                            value="{{ form.institutionContact.vars.form.city.vars.value }}" 
                                            maxlength="{{ form.institutionContact.vars.form.city.vars.attr.maxlength }}"
                                            placeholder="City">
                                    </div>
                                    <div class="mr-2">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionContact.vars.form.state.vars.id }}" 
                                            name="{{ form.institutionContact.vars.form.state.vars.full_name }}" 
                                            value="{{ form.institutionContact.vars.form.state.vars.value }}" 
                                            maxlength="{{ form.institutionContact.vars.form.state.vars.attr.maxlength }}"
                                            placeholder="State">
                                    </div>
                                    <div class="">
                                        <label for="postal-code">Postal Code</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionContact.vars.form.postalCode.vars.id }}" 
                                            name="{{ form.institutionContact.vars.form.postalCode.vars.full_name }}" 
                                            value="{{ form.institutionContact.vars.form.postalCode.vars.value }}" 
                                            maxlength="{{ form.institutionContact.vars.form.postalCode.vars.attr.maxlength }}"
                                            placeholder="Postal Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="whiteCard">
                        <h3 class="heading"><i class="fas fa-globe-americas"></i> Location</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group-field mb-2">
                                    <label for="campus-name">Campus Name</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.campusName.vars.id }}" 
                                        name="{{ form.campusName.vars.full_name }}" 
                                        value="{{ form.campusName.vars.value }}" 
                                        maxlength="{{ form.campusName.vars.attr.maxlength }}"
                                        placeholder="Campus Name">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="ins-name">Institution Name</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionName.vars.id }}" 
                                        name="{{ form.institutionName.vars.full_name }}" 
                                        value="{{ form.institutionName.vars.value }}" 
                                        maxlength="{{ form.institutionName.vars.attr.maxlength }}" 
                                        placeholder="Institution Name">
                                </div>
                            
                                <div class="form-group-field mb-2">
                                    <label for="address1">Address1</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionLocation.vars.form.address1.vars.id }}" 
                                        name="{{ form.institutionLocation.vars.form.address1.vars.full_name }}" 
                                        value="{{ form.institutionLocation.vars.form.address1.vars.value }}" 
                                        maxlength="{{ form.institutionLocation.vars.form.address1.vars.attr.maxlength }}" 
                                        placeholder="Address1">
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group-field mb-2">
                                    <label for="address2">Address2</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionLocation.vars.form.address2.vars.id }}" 
                                        name="{{ form.institutionLocation.vars.form.address2.vars.full_name }}" 
                                        value="{{ form.institutionLocation.vars.form.address2.vars.value }}" 
                                        maxlength="{{ form.institutionLocation.vars.form.address2.vars.attr.maxlength }}" 
                                        placeholder="Address2">
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group-field mb-2">
                                    <label for="postal-code">Time Shone</label>
                                    <select class="form-control" 
                                        id="{{ form.institutionLocation.vars.form.timezone.vars.id }}" 
                                        name="{{ form.institutionLocation.vars.form.timezone.vars.full_name }}" 
                                        value="{{ form.institutionLocation.vars.form.timezone.vars.value }}" 
                                        maxlength="{{ form.institutionLocation.vars.form.timezone.vars.attr.maxlength }}">
                                        {% for key,timezone in timezones %}
                                                <option value="{{key}}">{{timezone}}</option>
                                            {% endfor %}
                                        
                                        </select>
                                    </div>
                                <div class="form-group-field mb-2">
                                    <label for="postal-code">Region</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionLocation.vars.form.region.vars.id }}" 
                                        name="{{ form.institutionLocation.vars.form.region.vars.full_name }}" 
                                        value="{{ form.institutionLocation.vars.form.region.vars.value }}" 
                                        maxlength="{{ form.institutionLocation.vars.form.region.vars.attr.maxlength }}" 
                                        placeholder="Region">
                                    </div>

                                    <div class="form-group-field mb-2">
                                    <label for="postal-code">Country</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.institutionLocation.vars.form.country.vars.id }}" 
                                        name="{{ form.institutionLocation.vars.form.country.vars.full_name }}" 
                                        value="{{ form.institutionLocation.vars.form.country.vars.value }}" 
                                        maxlength="{{ form.institutionLocation.vars.form.country.vars.attr.maxlength }}" 
                                        placeholder="Country Code">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group-field d-flex mb-2">
                                    <div class="mr-2">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionLocation.vars.form.city.vars.id }}" 
                                            name="{{ form.institutionLocation.vars.form.city.vars.full_name }}" 
                                            value="{{ form.institutionLocation.vars.form.city.vars.value }}" 
                                            maxlength="{{ form.institutionLocation.vars.form.city.vars.attr.maxlength }}" 
                                            placeholder="City">
                                    </div>
                                    <div class="mr-2">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionLocation.vars.form.state.vars.id }}" 
                                            name="{{ form.institutionLocation.vars.form.state.vars.full_name }}" 
                                            value="{{ form.institutionLocation.vars.form.state.vars.value }}" 
                                            maxlength="{{ form.institutionLocation.vars.form.state.vars.attr.maxlength }}" 
                                            placeholder="State">
                                    </div>
                                    <div class="">
                                        <label for="postal-code">Postal Code</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.institutionLocation.vars.form.postalCode.vars.id }}" 
                                            name="{{ form.institutionLocation.vars.form.postalCode.vars.full_name }}" 
                                            value="{{ form.institutionLocation.vars.form.postalCode.vars.value }}" 
                                            maxlength="{{ form.institutionLocation.vars.form.postalCode.vars.attr.maxlength }}" 
                                            placeholder="Postal Code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="whiteCard mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading"><i class="fas fa-user-graduate"></i> Student Body</h3>
                        <div class="row mb-5">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group-field mb-2">
                                            <label for="term">Term</label>
                                            <input type="text" class="form-control" 
                                                id="{{ form.studentDetails.vars.form.term.vars.id }}" 
                                                name="{{ form.studentDetails.vars.form.term.vars.full_name }}" 
                                                value="{{ form.studentDetails.vars.form.term.vars.value }}" 
                                                maxlength="{{ form.studentDetails.vars.form.term.vars.attr.maxlength }}" 
                                                placeholder="Term">
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group-field mb-2">
                                            <label for="Mailing Name">Year</label>
                                            <input type="text" class="form-control" 
                                                id="{{ form.studentDetails.vars.form.year.vars.id }}" 
                                                name="{{ form.studentDetails.vars.form.year.vars.full_name }}" 
                                                value="{{ form.studentDetails.vars.form.year.vars.value }}" 
                                                maxlength="{{ form.studentDetails.vars.form.year.vars.attr.maxlength }}" 
                                                placeholder="Year">
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="fax-number">Total Students</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.totalStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.totalStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.totalStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.totalStudents.vars.attr.maxlength }}" 
                                        placeholder="Total Students">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="email">Under Graduate</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.undergradStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.undergradStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.undergradStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.undergradStudents.vars.attr.maxlength }}" 
                                        placeholder="Under Students">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="address1">Graduate</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.gradStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.gradStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.gradStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.gradStudents.vars.attr.maxlength }}" 
                                        placeholder="Graduate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="website">Female Students</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.femaleStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.femaleStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.femaleStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.femaleStudents.vars.attr.maxlength }}" 
                                        placeholder="Female Students">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="Department">Male Students</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.maleStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.maleStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.maleStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.maleStudents.vars.attr.maxlength }}" 
                                        placeholder="Male Students">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="new">Others</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.otherStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.otherStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.otherStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.otherStudents.vars.attr.maxlength }}" 
                                        placeholder="Others">
                                </div>
                            </div>
                                
                            
                            <div class="col-md-3 mt-2">
                                <div class="form-group-field mb-2">
                                    <label for="address2">Full-Time</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.fullTimeStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.fullTimeStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.fullTimeStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.fullTimeStudents.vars.attr.maxlength }}" 
                                        placeholder="Full-Time">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="city">Part-Time</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.partTimeStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.partTimeStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.partTimeStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.partTimeStudents.vars.attr.maxlength }}" 
                                        placeholder="Part-Time">
                                </div>
                            </div>
                            
                            <div class="col-md-3 mt-2">
                                <div class="form-group-field mb-2">
                                    <label for="state">In-State</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.inStateStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.inStateStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.inStateStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.inStateStudents.vars.attr.maxlength }}" 
                                        placeholder="In-State">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="postal-code">Out of State</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.outOfStateStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.outOfStateStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.outOfStateStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.outOfStateStudents.vars.attr.maxlength }}" 
                                        placeholder="Out State">
                                </div>
                                <div class="form-group-field mb-2">
                                    <label for="new">International</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.studentDetails.vars.form.interNationalStudents.vars.id }}" 
                                        name="{{ form.studentDetails.vars.form.interNationalStudents.vars.full_name }}" 
                                        value="{{ form.studentDetails.vars.form.interNationalStudents.vars.value }}" 
                                        maxlength="{{ form.studentDetails.vars.form.interNationalStudents.vars.attr.maxlength }}" 
                                        placeholder="International">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="whiteCard mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading"><i class="fas fa-user-tie"></i> Faculty</h3>
                        <div class="row mb-5">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group-field mb-2">
                                            <label for="term">Term</label>
                                            <input type="text" class="form-control" 
                                                id="{{ form.facultyDetails.vars.form.term.vars.id }}" 
                                                name="{{ form.facultyDetails.vars.form.term.vars.full_name }}" 
                                                value="{{ form.facultyDetails.vars.form.term.vars.value }}" 
                                                maxlength="{{ form.facultyDetails.vars.form.term.vars.attr.maxlength }}" 
                                                placeholder="Term">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group-field mb-2">
                                            <label for="Mailing Name">Year</label>
                                            <input type="text" class="form-control" 
                                                id="{{ form.facultyDetails.vars.form.year.vars.id }}" 
                                                name="{{ form.facultyDetails.vars.form.year.vars.full_name }}" 
                                                value="{{ form.facultyDetails.vars.form.year.vars.value }}" 
                                                maxlength="{{ form.facultyDetails.vars.form.year.vars.attr.maxlength }}" 
                                                placeholder="Year">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="Department">Full Time Faculty</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.facultyDetails.vars.form.fullTimeFaculty.vars.id }}" 
                                        name="{{ form.facultyDetails.vars.form.fullTimeFaculty.vars.full_name }}" 
                                        value="{{ form.facultyDetails.vars.form.fullTimeFaculty.vars.value }}" 
                                        maxlength="{{ form.facultyDetails.vars.form.fullTimeFaculty.vars.attr.maxlength }}" 
                                        placeholder="Full Time Faculty">
                                </div>
                            </div>
                                <div class="col-md-3">
                                    <div class="form-group-field mb-2">
                                        <label for="website">Student Faculty Ratio</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.facultyDetails.vars.form.studentFacultyRatio.vars.id }}" 
                                            name="{{ form.facultyDetails.vars.form.studentFacultyRatio.vars.full_name }}" 
                                            value="{{ form.facultyDetails.vars.form.studentFacultyRatio.vars.value }}" 
                                            maxlength="{{ form.facultyDetails.vars.form.studentFacultyRatio.vars.attr.maxlength }}" 
                                            placeholder="Student Faculty Ratio">
                                    </div>
                            </div>
                                <div class="col-md-3">
                                    <div class="form-group-field mb-2">
                                        <label for="email">Faculty With Highest Degree in Field</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.facultyDetails.vars.form.facultyHigherDegree.vars.id }}" 
                                            name="{{ form.facultyDetails.vars.form.facultyHigherDegree.vars.full_name }}" 
                                            value="{{ form.facultyDetails.vars.form.facultyHigherDegree.vars.value }}" 
                                            maxlength="{{ form.facultyDetails.vars.form.facultyHigherDegree.vars.attr.maxlength }}" 
                                            placeholder="Faculty With Highest Degree in Field">
                                    </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-field mb-2">
                                    <label for="address1">Avg. Ug Class Size</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.facultyDetails.vars.form.avgUGClassSize.vars.id }}" 
                                        name="{{ form.facultyDetails.vars.form.avgUGClassSize.vars.full_name }}" 
                                        value="{{ form.facultyDetails.vars.form.avgUGClassSize.vars.value }}" 
                                        maxlength="{{ form.facultyDetails.vars.form.avgUGClassSize.vars.attr.maxlength }}" 
                                        placeholder="Avg. Ug Class Size">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="whiteCard mt-4">
                <h3 class="heading"><i class="fas fa-book"></i> Academic</h3>
                <div class="row mb-5">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group-field mb-2">
                                    <label for="term">Term</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.academicDetails.vars.form.term.vars.id }}" 
                                        name="{{ form.academicDetails.vars.form.term.vars.full_name }}" 
                                        value="{{ form.academicDetails.vars.form.term.vars.value }}" 
                                        maxlength="{{ form.academicDetails.vars.form.term.vars.attr.maxlength }}" 
                                        placeholder="Term">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group-field mb-2">
                                    <label for="Mailing Name">Year</label>
                                    <input type="text" class="form-control" 
                                        id="{{ form.academicDetails.vars.form.year.vars.id }}" 
                                        name="{{ form.academicDetails.vars.form.year.vars.full_name }}" 
                                        value="{{ form.academicDetails.vars.form.year.vars.value }}" 
                                        maxlength="{{ form.academicDetails.vars.form.year.vars.attr.maxlength }}" 
                                        placeholder="Year">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="grayBorderCard">
                            <h3 class="heading">College and Schools</h3>
                                <div class="college-scools-container" id="{{ form.collegeSchools.vars.id }}" 
                                    data-prototype="{{ formMacros.collegeSchoolsForm(form.collegeSchools.vars.prototype)|e('html_attr') }}"
                                    data-index="{{ form.collegeSchools|length }}" >
                                    {% for collegeSchoolForm in form.collegeSchools %}
                                        <div class="form-group-field inline-form-group-field mb-2 row-container">
                                            <button type="button" class="btn btn-sm btn-warning remove-college-school btn-icon mr-2 {{ collegeSchoolForm.collegeSchoolName.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
                                            <input type="text" class="form-control" 
                                                id="{{ collegeSchoolForm.collegeSchoolName.vars.id }}" 
                                                name="{{ collegeSchoolForm.collegeSchoolName.vars.full_name }}" 
                                                value="{{ collegeSchoolForm.collegeSchoolName.vars.value }}" 
                                                maxlength="{{ collegeSchoolForm.collegeSchoolName.vars.attr.maxlength }}" 
                                                placeholder="College and Schools">
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="text-left">
                                    <button type="button" class="btn btn-sm btn-warning add-college-school btn-icon"><i class="fas fa-plus-circle"></i></button>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="grayBorderCard">
                            <h3 class="heading">Degree Programs</h3>
                            <div class="row">
                                <div class="col-md-12 mt-2">
                                    <div class="form-group-field mb-2">
                                        <label for="term">Under Graduate</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.academicDetails.vars.form.underGraduate.vars.id }}" 
                                            name="{{ form.academicDetails.vars.form.underGraduate.vars.full_name }}" 
                                            value="{{ form.academicDetails.vars.form.underGraduate.vars.value }}" 
                                            maxlength="{{ form.academicDetails.vars.form.underGraduate.vars.attr.maxlength }}" 
                                            placeholder="Under Graduate">
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-group-field mb-2">
                                        <label for="Mailing Name">Graduate</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.academicDetails.vars.form.graduate.vars.id }}" 
                                            name="{{ form.academicDetails.vars.form.graduate.vars.full_name }}" 
                                            value="{{ form.academicDetails.vars.form.graduate.vars.value }}" 
                                            maxlength="{{ form.academicDetails.vars.form.graduate.vars.attr.maxlength }}" 
                                            placeholder="Graduate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="grayBorderCard">
                            <h3 class="heading">Degrees Granted During</h3>
                            <div class="row">
                                <div class="col-md-12 mt-2">
                                    <div class="form-group-field mb-2">
                                        <label for="term">Academic Year</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.academicDetails.vars.form.academicYear.vars.id }}" 
                                            name="{{ form.academicDetails.vars.form.academicYear.vars.full_name }}" 
                                            value="{{ form.academicDetails.vars.form.academicYear.vars.value }}" 
                                            maxlength="{{ form.academicDetails.vars.form.academicYear.vars.attr.maxlength }}" 
                                            placeholder="Academic Year">
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="form-group-field mb-2">
                                        <label for="Mailing Name">Associate Degree</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.academicDetails.vars.form.associateDegrees.vars.id }}" 
                                            name="{{ form.academicDetails.vars.form.associateDegrees.vars.full_name }}" 
                                            value="{{ form.academicDetails.vars.form.associateDegrees.vars.value }}" 
                                            maxlength="{{ form.academicDetails.vars.form.associateDegrees.vars.attr.maxlength }}" 
                                            placeholder="Associate Degree">
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="form-group-field mb-2">
                                        <label for="Mailing Name">Bachelor's Degree</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.academicDetails.vars.form.bachelorsDegrees.vars.id }}" 
                                            name="{{ form.academicDetails.vars.form.bachelorsDegrees.vars.full_name }}" 
                                            value="{{ form.academicDetails.vars.form.bachelorsDegrees.vars.value }}" 
                                            maxlength="{{ form.academicDetails.vars.form.bachelorsDegrees.vars.attr.maxlength }}" 
                                            placeholder="Bachelor's Degree">
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="form-group-field mb-2">
                                        <label for="Mailing Name">Master's Degree</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.academicDetails.vars.form.masterDegrees.vars.id }}" 
                                            name="{{ form.academicDetails.vars.form.masterDegrees.vars.full_name }}" 
                                            value="{{ form.academicDetails.vars.form.masterDegrees.vars.value }}" 
                                            maxlength="{{ form.academicDetails.vars.form.masterDegrees.vars.attr.maxlength }}" 
                                            placeholder="Master's Degree">
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-group-field mb-2">
                                        <label for="Mailing Name">Doctorate Degree</label>
                                        <input type="text" class="form-control" 
                                            id="{{ form.academicDetails.vars.form.doctorateDegrees.vars.id }}" 
                                            name="{{ form.academicDetails.vars.form.doctorateDegrees.vars.full_name }}" 
                                            value="{{ form.academicDetails.vars.form.doctorateDegrees.vars.value }}" 
                                            maxlength="{{ form.academicDetails.vars.form.doctorateDegrees.vars.attr.maxlength }}" 
                                            placeholder="Doctorate Year">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="grayBorderCard">
                            <h3 class="heading">Accreditation</h3>
                            <div class="accreditation-container" id="{{ form.accrediations.vars.id }}" 
                                data-prototype="{{ formMacros.accreditationForm(form.accrediations.vars.prototype)|e('html_attr') }}"
                                data-index="{{ form.accrediations|length }}" >
                                {% for accreditationForm in form.accrediations %}
                                    <div class="form-group-field inline-form-group-field mb-2 row-container">
                                        <button type="button" class="btn btn-sm btn-warning remove-accreditation btn-icon mr-1 {{ accreditationForm.accrediation.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
                                        <input type="text" class="form-control" 
                                                id="{{ accreditationForm.accrediation.vars.id }}" 
                                                name="{{ accreditationForm.accrediation.vars.full_name }}" 
                                                value="{{ accreditationForm.accrediation.vars.value }}" 
                                                maxlength="{{ accreditationForm.accrediation.vars.attr.maxlength }}" 
                                                placeholder="Accreditation">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-left">
                                <button type="button" class="btn btn-sm btn-warning add-accreditation btn-icon"><i class="fas fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="grayBorderCard">
                            <h3 class="heading">Recognitions</h3>
                            <div class="recognition-container" id="{{ form.recognitions.vars.id }}" 
                                data-prototype="{{ formMacros.recognitionsForm(form.recognitions.vars.prototype)|e('html_attr') }}"
                                data-index="{{ form.recognitions|length }}" >
                                {% for recognitionsForm in form.recognitions %}
                                    <div class="form-group-field inline-form-group-field mb-2 row-container">
                                        <button type="button" class="btn btn-sm btn-warning remove-recognition btn-icon mr-2 {{ recognitionsForm.recognition.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
                                        <input type="text" class="form-control" 
                                                id="{{ recognitionsForm.recognition.vars.id }}" 
                                                name="{{ recognitionsForm.recognition.vars.full_name }}" 
                                                value="{{ recognitionsForm.recognition.vars.value }}" 
                                                maxlength="{{ recognitionsForm.recognition.vars.attr.maxlength }}" 
                                                placeholder="Accreditation">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-left">
                                <button type="button" class="btn btn-sm btn-warning add-recognition btn-icon"><i class="fas fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="grayBorderCard">
                            <h3 class="heading">Degree's Offered</h3>
                            <div class="degree-container" id="{{ form.degrees.vars.id }}" 
                                data-prototype="{{ formMacros.degreesForm(form.degrees.vars.prototype)|e('html_attr') }}"
                                data-index="{{ form.degrees|length }}" >
                                {% for degreeForm in form.degrees %}
                                    <div class="form-group-field inline-form-group-field mb-2 row-container">
                                        <button type="button" class="btn btn-sm btn-warning remove-degree btn-icon mr-2 {{ degreeForm.degreeName.vars.id ~ '_remove'}}"><i class="fas fa-minus-circle"></i></button>
                                        <input type="text" class="form-control" 
                                                id="{{ degreeForm.degreeName.vars.id }}" 
                                                name="{{ degreeForm.degreeName.vars.full_name }}" 
                                                value="{{ degreeForm.degreeName.vars.value }}" 
                                                maxlength="{{ degreeForm.degreeName.vars.attr.maxlength }}" 
                                                placeholder="Degree Name">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-left">
                                <button type="button" class="btn btn-sm btn-warning add-degree btn-icon"><i class="fas fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-blue">Save </button>
            </div>
        </form>
    </div>

    <script>
        
        function readImagePreview(input) {
            
            var filePath = input.target.value; 

            // Allowing file type 
            var allowedExtensions =  
                    /(\.jpg|\.jpeg|\.png)$/i; 
              
            if (!allowedExtensions.exec(filePath)) { 
                alert('Uploaded file is not a valid image. Only JPG, PNG and JPEG files are allowed.'); 
                input.target.value = ''; 
                return false; 
            }  
            
            if (input.target.files && input.target.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                    $('#profileImagePreview').attr('src', e.target.result);
                    $('#profileImagePreview').attr('style', 'display:block;height:250px;');
                }
                reader.readAsDataURL(input.target.files[0]); // convert to base64 string
            }
        }

        // setup an "add a tag" link
        

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            collegeAndSchools();
            accrediations();
            recognitions();
            degrees();
            socialMeidas();
        });


        function removeItem(clsName) {
            $(clsName).on('click', function(e) {
                console.log(this)
                $(this).closest('.row-container').remove()
            });
        }

        function collegeAndSchools() {
            let collegeSchoolsHolder = $('#institution_profile_collegeSchools');

            collegeSchoolsHolder.data('index', collegeSchoolsHolder.find('input').length);

            removeItem('.remove-college-school');

            $('.add-college-school').on('click', function(e) {
                let prototype = collegeSchoolsHolder.data('prototype');

                let index = collegeSchoolsHolder.data('index');

                let newForm = prototype;
               
                newForm = newForm.replace(/__name__/g, index);

                collegeSchoolsHolder.data('index', index + 1);

                collegeSchoolsHolder.append(newForm);

                $('.remove-college-school').unbind('click')

                removeItem('.remove-college-school');
               
            });
        }

        function accrediations() {
            
            let accrediationsHolder = $('#institution_profile_accrediations');

            removeItem('.remove-accreditation');

            accrediationsHolder.data('index', accrediationsHolder.find('input').length);

            $('.add-accreditation').on('click', function(e) {
               
                let prototype = accrediationsHolder.data('prototype');

                let index = accrediationsHolder.data('index');

                let newForm = prototype;
               
                newForm = newForm.replace(/__name__/g, index);

                accrediationsHolder.data('index', index + 1);

                accrediationsHolder.append(newForm);

                $('.remove-accreditation').unbind('click')

                removeItem('.remove-accreditation');
            });
        }

        function recognitions() {

            let recognitionsHolder = $('#institution_profile_recognitions');

            removeItem('.remove-recognition');

            recognitionsHolder.data('index', recognitionsHolder.find('input').length);

            $('.add-recognition').on('click', function(e) {
               
                let prototype = recognitionsHolder.data('prototype');

                let index = recognitionsHolder.data('index');

                let newForm = prototype;
               
                newForm = newForm.replace(/__name__/g, index);

                recognitionsHolder.data('index', index + 1);

                recognitionsHolder.append(newForm);

                $('.remove-recognition').unbind('click')

                removeItem('.remove-recognition');
            });
        }

        function degrees() {
            
            let degreesHolder = $('#institution_profile_degrees');

            removeItem('.remove-degree');

            degreesHolder.data('index', degreesHolder.find('input').length);

            $('.add-degree').on('click', function(e) {
               
                let prototype = degreesHolder.data('prototype');

                let index = degreesHolder.data('index');

                let newForm = prototype;
               
                newForm = newForm.replace(/__name__/g, index);

                degreesHolder.data('index', index + 1);

                degreesHolder.append(newForm);

                $('.remove-degree').unbind('click')

                removeItem('.remove-degree');
            });
        }

        function socialMeidas() {

            let socialMediaContainer = $('#institution_profile_socialMedias');

            removeItem('.remove-social-media');

            socialMediaContainer.data('index', socialMediaContainer.find('input').length);

            $('.add-social-media').on('click', function(e) {
               
                let prototype = socialMediaContainer.data('prototype');

                let index = socialMediaContainer.data('index');

                let newForm = prototype;
               
                newForm = newForm.replace(/__name__/g, index);

                socialMediaContainer.data('index', index + 1);

                socialMediaContainer.append(newForm);

                $('.remove-social-media').unbind('click')

                removeItem('.remove-social-media');
            });
        }

    </script>
{% endblock %}

