{% extends 'easyadmin-bundle/src/Resources/views/default/layout.html.twig' %}


{% block content_header %}
    <h5>Settings</h5>
{% endblock %}

{% block main %}
    <div class="container">

      


        <form name="institution_profile" method="post" enctype="multipart/form-data">
            {{ form_row(form._token) }}
            <div class="row">
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="form-label"><strong>Logo</strong></label>
                        <div class="input-group">
                            <input type="file" class="form-control" name="loginLogo" accept="image/*" onchange="readImagePreview(event)"  placeholder="Form Builder Image">
                        </div>
                        <div class="input-group">
                            {% set noImage = asset('uploads/no-image.jpg') %}
                            {% set loginLogo = noImage %}
                            {% if form.loginLogo is defined and form.loginLogo.vars.data %}
                                {% set loginLogo = asset('/' ~ form.loginLogo.vars.data) %}
                            {% endif %}
                        
                            <img id="{{ form.loginLogo.vars.id }}" name="{{ form.loginLogo.vars.full_name }}" src="{{ loginLogo }}" alt="Login Logo Image" onerror="this.src='{{ noImage }}'"  style="max-height:250px;"  />
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="form-label"><strong>SSO Login Logo</strong></label>
                        <div class="input-group">
                            <input type="file" class="form-control" name="ssoLogin" accept="image/*" onchange="readImagePreview(event)"  placeholder="Form Builder Image">
                        </div>
                        <div class="input-group">
                            {% set noImage = asset('uploads/no-image.jpg') %}
                            {% set ssoLogin = noImage %}
                            {% if form.ssoLogin is defined and form.ssoLogin.vars.data %}
                                {% set ssoLogin = asset('/' ~ form.ssoLogin.vars.data) %}
                            {% endif %}
                        
                            <img id="{{ form.ssoLogin.vars.id }}" name="{{ form.ssoLogin.vars.full_name }}" src="{{ ssoLogin }}" alt="SSO Login Logo Image" onerror="this.src='{{ noImage }}'"  style="max-height:250px;"  />
                        </div>
                    </div>
                </div>

                 <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="form-label"><strong>Collaborated Direct Login Logo</strong></label>
                        <div class="input-group">
                            <input type="file" class="form-control" name="collaboratedDirectLogin" accept="image/*" onchange="readImagePreview(event)"  placeholder="Form Builder Image">
                        </div>
                        <div class="input-group">
                            {% set noImage = asset('uploads/no-image.jpg') %}
                            {% set collaboratedDirectLogin = noImage %}
                            {% if form.collaboratedDirectLogin is defined and form.collaboratedDirectLogin.vars.data %}
                                {% set collaboratedDirectLogin = asset('/' ~ form.collaboratedDirectLogin.vars.data) %}
                            {% endif %}
                        
                            <img id="{{ form.collaboratedDirectLogin.vars.id }}" name="{{ form.collaboratedDirectLogin.vars.full_name }}" src="{{ collaboratedDirectLogin }}" alt="Collaborated Direct Login Logo Image" onerror="this.src='{{ noImage }}'"  style="max-height:250px;"  />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="form-label"><strong>Side Navigation Menu Logo</strong></label>
                        <div class="input-group">
                            <input type="file" class="form-control" name="sideNavigationMenu" accept="image/*" onchange="readImagePreview(event)"  placeholder="Form Builder Image">
                        </div>
                        <div class="input-group">
                            {% set noImage = asset('uploads/no-image.jpg') %}
                            {% set sideNavigationMenu = noImage %}
                            {% if form.sideNavigationMenu is defined and form.sideNavigationMenu.vars.data %}
                                {% set sideNavigationMenu = asset('/' ~ form.sideNavigationMenu.vars.data) %}
                            {% endif %}
                        
                            <img id="{{ form.sideNavigationMenu.vars.id }}" name="{{ form.sideNavigationMenu.vars.full_name }}" src="{{ sideNavigationMenu }}" alt="Side Navigation Menu Logo Image" onerror="this.src='{{ noImage }}'"  style="max-height:250px;"  />
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="form-label"><strong>Side Navigation Menu Collapsed Logo</strong></label>
                        <div class="input-group">
                            <input type="file" class="form-control" name="sideNavigationMenuCollapsed" accept="image/*" onchange="readImagePreview(event)"  placeholder="Form Builder Image">
                        </div>
                        <div class="input-group">
                            {% set noImage = asset('uploads/no-image.jpg') %}
                            {% set sideNavigationMenuCollapsed = noImage %}
                            {% if form.sideNavigationMenuCollapsed is defined and form.sideNavigationMenuCollapsed.vars.data %}
                                {% set sideNavigationMenuCollapsed = asset('/' ~ form.sideNavigationMenuCollapsed.vars.data) %}
                            {% endif %}
                        
                            <img id="{{ form.sideNavigationMenuCollapsed.vars.id }}" name="{{ form.sideNavigationMenuCollapsed.vars.full_name }}" src="{{ sideNavigationMenuCollapsed }}" alt="Side Navigation MenuCollapsed Logo Image" onerror="this.src='{{ noImage }}'"  style="max-height:250px;"  />
                        </div>
                    </div>
                </div>

                {# <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="form-label"><strong>Admin Dashboard Logo</strong></label>
                        <div class="input-group">
                            <input type="file" class="form-control" name="dashboardLogo" accept="image/*" onchange="readImagePreview(event)"  placeholder="Form Builder Image">
                        </div>
                        <div class="input-group">
                            {% set noImage = asset('uploads/no-image.jpg') %}
                            {% set adminDashboardLogo = noImage %}
                            {% if form.adminDashboardLogo is defined and form.adminDashboardLogo.vars.data %}
                                {% set adminDashboardLogo = asset('/' ~ form.adminDashboardLogo.vars.data) %}
                            {% endif %}
                        
                            <img id="{{ form.adminDashboardLogo.vars.id }}" name="{{ form.adminDashboardLogo.vars.full_name }}" src="{{ adminDashboardLogo }}" alt="Admin Dashboard Image" onerror="this.src='{{ noImage }}'"  style="max-height:250px;"  />
                        </div>
                    </div>
                </div> #}
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:35px;">
                    <button class="btn btn-primary" id="saveSettingsBtn" title="Save">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        function readImagePreview(input) {

            var filePath = input.target.value; 

            // Allowing file type 
            var allowedExtensions =  
                    /(\.jpg|\.jpeg|\.png)$/i; 
              
            if (!allowedExtensions.exec(filePath)) { 
                alert('Uploaded file is not a valid image. Only JPG, PNG and JPEG files are allowed.'); 
                input.target.value = ''; 
                return false; 
            }  
            
            
        }  

       



    </script>
{% endblock %}
